@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <script src="../../Scripts/jquery-1.5.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        var deleteUrl = '@Url.Action("Delete")';
        var currentBin = '@ViewBag.Id';

        $(document).ready(function () {
            $("input[name='id']").focus();
            $("#currentBinLabel").html(currentBin);

            $("#testPostLink").click(function () {
                var binName = $("#currentBinLabel").html();
                $("#id").val(binName);
                $("#testPostText").focus();
            });

            $("#deleteLink").click(function () {
                document.location = deleteUrl + "/" + currentBin;
            });

            $(".binLink").click(function () {
                currentBin = $(this).html();

                $("#currentBinLabel").html(currentBin);
            });

        });
    </script>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <div>@ViewBag.Message</div>
        <table>
        <tr>
        <td>
        <div id="leftColumn">
        <h2>Bins</h2>
        <ul>
            @foreach (var bin in ViewBag.Bins)
            {
            <li>@Html.ActionLink((string)bin.Name, "Index", new { id=(string)bin.Name})</li>
            }
        </ul>
        </div>
        </td>
        <td>
        <div id="rightColumn">
            @if(!string.IsNullOrEmpty(ViewBag.Id))
            {
                <text>
            <h3>Current Bin: <span id="currentBinLabel"></span></h3>
            <a href="#" id="testPostLink">Test Post</a> | 
            <a href="#" id="deleteLink">Delete</a>
            @{Html.RenderAction("Details", new { id = (string)ViewBag.Id });}
            </text>
             }
        </div>

        </td>
        </tr>
        </table>

        <fieldset>
            <legend>Test Post</legend>
            @using (Html.BeginRouteForm(new { action = "Post"}))
            {
                <text>Bin Name: </text><input type="text" id="id" name="id" />
                <br />
                <textarea rows="10" cols="80" id="testPostText" name="testPostText"></textarea>
                <br />
                <input type="submit" id="testPostButton" name="testPostButton" value="Submit Test Post" />                
            }
        </fieldset>
    </div>
</body>
</html>
